
/* root colors */
:root{
  --wh: white;
}

/* imported bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* google font Paytone */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
font-family: 'Paytone One', sans-serif;
height:100%;
margin: 0;
box-sizing: border-box;
}

body{
  background-image: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  /* added "vh" unit to ensure full viewport height */
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
}